
body
{
	height: 100%;
}
header {
	padding: 30px 0 30px 0;
	text-align: center;

}

form {

	display: inline;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 0 0;
}
form input
{	
	display: inline;
	float: right;
	text-indent: 10px;
	width: 10%;
	height: 30px;
	margin: 23px 30px 0 0;
	padding: 0 100px 0 0;
}
button
{
	float: right;
	margin: 20px 0 0 0;
	width: 10%;
	height: 35px;
}

#accountManagement
{
	display: inline;
}
#accountManagement a
{
	margin: 30px 0 30px 0;
	display: inline;
	flex-direction: row;
	justify-content: center;

}
#accountManagement a:hover
{
	color: #f00;
}

.hidden 
{
	display: none;
}